*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    display: flex;    
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.connction{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */  
    justify-content: space-between;  
    align-items: center;
    width: 30%;
    height: 50%;
    background-color: #4CAF50;
    color: white;
    border: none;    
    margin-top: 10px;
}
form{
    width: 50%;
    height: 20%;
    /* background-color: aqua; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.btn-div{   
    width: 70%;
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
}